<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>19079756523-9vrsh5igogg3q8qbcsqvooqu3nlfit8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19079756523-9vrsh5igogg3q8qbcsqvooqu3nlfit8q</string>
	<key>API_KEY</key>
	<string>AIzaSyBT17uuxNkO847cNUE_G3l3RzxTEAQtTQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>19079756523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaronmartinez.FitnessWithFriends6</string>
	<key>PROJECT_ID</key>
	<string>fitnesschallenge-8732a</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesschallenge-8732a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:19079756523:ios:b69f57bc2e3afca8</string>
	<key>DATABASE_URL</key>
	<string>https://fitnesschallenge-8732a.firebaseio.com</string>
</dict>
</plist>
